<div class="header">
  <nav class="level">
    <p class="level-item has-text-centered">
      <a href="/" class="link is-info">Home</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info">Menu</a>
    </p>
    <p class="level-item has-text-centered">
      <img src="/img/Logo@2x.png" alt="Vansession Logo" class="logo" />
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info">Reservations</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link is-info">Contact</a>
    </p>
  </nav>
</div>
