html, body {
  height: 100%;
}

body {
  background-image: url('./../img/skyBg.jpg'), url('./../img/roadFooterBg.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: top, bottom;
}

.container {
  max-width: 1024px;
}

.header {
  margin-bottom: 30px;
}

.logo {
  width: 205px;
  height: 73px;
}